### Zadanie 1

Stwórz serię danych, której dane to wartości całkowite od 1 do 100, a indeks jest postaci od ean_001 do ean_100.

In [1]:
import pandas as pd
import numpy as np

In [92]:
data = [i for i in range(1,101)]
dataindex = [f'ean_{i:03}' for i in range(1,101)]
final = pd.Series(data, dataindex)

In [90]:
final

ean_001      1
ean_002      2
ean_003      3
ean_004      4
ean_005      5
          ...
ean_096     96
ean_097     97
ean_098     98
ean_099     99
ean_100    100
Length: 100, dtype: int64

### Zadanie 2

Stwórz tablicę numpy o dwóch wymiarach w rozmiarze 10x10, której wartości są zapisane wg. poniższego schematu:

``` bash
    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
    [2, 4, 8, 16, 32, 64, 128, 256, 512, 1024],
    [3, 9, 27 ... ],
    ...
    [10, 100, 1000, ... ]
```
W pierwszej kolumnie znajduje się liczba, która następnie jest w kolejnych kolumnach podnoszona do kwadratu. Zdefiniuj tę tablicę wedle swojego uznania, ale nie jest dopuszczalne wpisanie tych danych "ręcznie".

Stwórz z tych danych ramkę pandas. Kolumny nazwij wg. schematu

```bash
  ['base', 'pow_2', 'pow_3', ..., 'pow_10']
  ```

In [8]:
base = np.arange(1,11).reshape(10,1)
result = base ** np.arange(1,11)
result

array([[          1,           1,           1,           1,           1,
                  1,           1,           1,           1,           1],
       [          2,           4,           8,          16,          32,
                 64,         128,         256,         512,        1024],
       [          3,           9,          27,          81,         243,
                729,        2187,        6561,       19683,       59049],
       [          4,          16,          64,         256,        1024,
               4096,       16384,       65536,      262144,     1048576],
       [          5,          25,         125,         625,        3125,
              15625,       78125,      390625,     1953125,     9765625],
       [          6,          36,         216,        1296,        7776,
              46656,      279936,     1679616,    10077696,    60466176],
       [          7,          49,         343,        2401,       16807,
             117649,      823543,     5764801,    40353607,   282475249],
       [          8,          64,         512,        4096,       32768,
             262144,     2097152,    16777216,   134217728,  1073741824],
       [          9,          81,         729,        6561,       59049,
             531441,     4782969,    43046721,   387420489,  3486784401],
       [         10,         100,        1000,       10000,      100000,
            1000000,    10000000,   100000000,  1000000000, 10000000000]])

In [39]:
df = pd.DataFrame(result,columns=['base'] + [f'pow_{i}' for i in range(2,11)], copy=True)
df

,base,pow_2,pow_3,pow_4,pow_5,pow_6,pow_7,pow_8,pow_9,pow_10
0,1,1,1,1,1,1,1,1,1,1
1,2,4,8,16,32,64,128,256,512,1024
2,3,9,27,81,243,729,2187,6561,19683,59049
3,4,16,64,256,1024,4096,16384,65536,262144,1048576
4,5,25,125,625,3125,15625,78125,390625,1953125,9765625
5,6,36,216,1296,7776,46656,279936,1679616,10077696,60466176
6,7,49,343,2401,16807,117649,823543,5764801,40353607,282475249
7,8,64,512,4096,32768,262144,2097152,16777216,134217728,1073741824
8,9,81,729,6561,59049,531441,4782969,43046721,387420489,3486784401
9,10,100,1000,10000,100000,1000000,10000000,100000000,1000000000,10000000000

### Zadanie 3

Sprawdź czy tablica numpy z zadania poprzedniego oraz ramka pandas współdzielą ze sobą dane. Jeżeli nie to stwórz kolejną ramkę, która będzie te dane z tablicą współdzieliła (możesz wykorzystać sposób sprawdzenia tego z labów poprzednich).

In [46]:
np.shares_memory(result, df.values)

False

In [45]:
df2 = pd.DataFrame(result,columns=['base'] + [f'pow_{i}' for i in range(2,11)])
np.shares_memory(result, df2.values)

True

### Zadanie 4

Sprawdź jaki jest przydzielony typ danych w ramce z zadania poprzedniego. Czy można go downcastować do typu, który zapewni zachowanie oryginalnych danych, ale zmniejszy ilość niezbędnej pamięci do ich przechowania? Odpowiedź uzasadnij odnpowienim przykładem w kodzie.

In [47]:
df2.dtypes

base      int64
pow_2     int64
pow_3     int64
pow_4     int64
pow_5     int64
pow_6     int64
pow_7     int64
pow_8     int64
pow_9     int64
pow_10    int64
dtype: object

In [48]:
df2.memory_usage(deep=True)

Index     132
base       80
pow_2      80
pow_3      80
pow_4      80
pow_5      80
pow_6      80
pow_7      80
pow_8      80
pow_9      80
pow_10     80
dtype: int64

In [51]:
df_downcasted = df2.apply(pd.to_numeric, downcast='integer')
df_downcasted.dtypes

base       int8
pow_2      int8
pow_3     int16
pow_4     int16
pow_5     int32
pow_6     int32
pow_7     int32
pow_8     int32
pow_9     int32
pow_10    int64
dtype: object

In [52]:
df_downcasted.memory_usage(deep=True)

Index     132
base       10
pow_2      10
pow_3      20
pow_4      20
pow_5      40
pow_6      40
pow_7      40
pow_8      40
pow_9      40
pow_10     80
dtype: int64

### Zadanie 5

Wczytaj dane z pliku iris.data za pomocą funkcji read_csv do zmiennej iris jak w przykładzie.

In [56]:
iris = pd.read_csv('iris.data')
iris

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

### Zadanie 6

Zamień nazwy kolumn w ramce iris tak, aby w miejsce spacji wstawić znak _. Wyświetl pierwsze 10 wierszy tej ramki.

In [78]:
iris.columns = iris.columns.str.replace(" ", "_")
iris.head(10)

,sepal_length_in_cm,sepal_width_in_cm,petal_length_in_cm,petal_width_in_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa

### Zadanie 7

Sprawdź metodą memory_usage() (z parametrem deep=True oraz bez niego) ile danych zajmuje ramka. Wybierz jeden z typów danych numerycznych rodzaju float o mniejszej precyzji i zapisz ramkę w nowej zmiennej iris_smaller, której kolumny numeryczne będą rzutowane na ten nowy typ float. Ponownie sprawdź ile pamięci zostało dla ramki zaalokowane.

In [66]:
iris.memory_usage()

Index                  132
sepal_length_in_cm    1200
sepal_width_in_cm     1200
petal_length_in_cm    1200
petal_width_in_cm     1200
class                 1200
dtype: int64

In [67]:
iris.memory_usage(deep=True)

Index                   132
sepal_length_in_cm     1200
sepal_width_in_cm      1200
petal_length_in_cm     1200
petal_width_in_cm      1200
class                 10550
dtype: int64

In [71]:
iris_smaller = iris.copy()
for col in iris.select_dtypes(include='float').columns:
    iris_smaller[col] = iris[col].astype('float32')

In [77]:
iris_smaller.memory_usage()

Index                  132
sepal_length_in_cm     600
sepal_width_in_cm      600
petal_length_in_cm     600
petal_width_in_cm      600
class                 1200
dtype: int64

### Zadanie 8

Zapisz ramkę do schowka (funkcja to_clipboard()), a następnie wklej schowek do edytora tekstowego oraz dowolnego arkusza kalkulacyjnego. Sprawdź format tych danych.

Teraz skopiuj do schowka część z tych wklejonych danych i zapisz do nowej ramki metodą from_clipboard(). Wyświetl pierwsze 5 wierszy tej ramki.

Rozwiązanie zadania to jedynie wywołanie powyższej funkcji, reszta dla informacji i wiedzy studenta.

In [80]:
iris.to_clipboard()

In [82]:
new_iris = pd.read_clipboard()
new_iris.head(5)

,sepal_length_in_cm,sepal_width_in_cm,petal_length_in_cm,petal_width_in_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

### Zadanie 9

Zapisz ramkę do formatów parquet, json oraz pickle (możliwe, że konieczne będzie doinstalowanie nowych pakietów) korzystając z odpowiednich funkcji opisanych w dokumentacji (link w materiałach).

In [85]:
pip install fastparquet

Collecting fastparquet
  Downloading fastparquet-2024.11.0-cp311-cp311-macosx_11_0_arm64.whl.metadata (4.2 kB)
Requirement already satisfied: pandas>=1.5.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from fastparquet) (2.2.3)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from fastparquet) (2.1.3)
Collecting cramjam>=2.3 (from fastparquet)
  Downloading cramjam-2.9.1-cp311-cp311-macosx_11_0_arm64.whl.metadata (4.9 kB)
Collecting fsspec (from fastparquet)
  Downloading fsspec-2025.3.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: packaging in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from fastparquet) (23.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas>=1.5.0->fastparquet) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas>=1.5.0->fastparquet) (2024.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)
Downloading fastparquet-2024.11.0-cp311-cp311-macosx_11_0_arm64.whl (683 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 683.8/683.8 kB 8.1 MB/s eta 0:00:00
Downloading cramjam-2.9.1-cp311-cp311-macosx_11_0_arm64.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 24.2 MB/s eta 0:00:00
Downloading fsspec-2025.3.0-py3-none-any.whl (193 kB)
Installing collected packages: fsspec, cramjam, fastparquet
Successfully installed cramjam-2.9.1 fastparquet-2024.11.0 fsspec-2025.3.0
Note: you may need to restart the kernel to use updated packages.

In [86]:
iris.to_parquet('iris.parquet')

In [87]:
iris.to_json('iris.json')

In [88]:
iris.to_pickle('iris.pkl')